<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="refresh", content="5; url=http://localhost:1212/test">
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<%= result %>,5秒后返回上一页
</body>
</html>